.footer {
    height: 60px;
    text-align: center;
}

.beian {
    display: flex;
    color: #939393;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.copyright {
    margin: 12px 0;
}